<section class="messages">
  <div
    [ngStyle]="{ 'view-transition-name': 'messages' }"
    [routerLink]="['/home']"
  >
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
      dignissimos eos adipisci perferendis vitae libero fugit reiciendis,
      facilis, quibusdam velit sed necessitatibus itaque mollitia error suscipit
      similique! Vitae, alias molestias!
    </span>

    <img [srcset]="'assets/msg-2.webp'" />

    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
      dignissimos eos adipisci perferendis vitae libero fugit reiciendis,
      facilis, quibusdam velit sed necessitatibus itaque mollitia error suscipit
      similique! Vitae, alias molestias!
    </span>
  </div>
</section>
